// sass --watch assets/scss:assets/css

@charset "UTF-8";

// mini reset
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font: inherit;
  line-height: inherit;
}
input,
textarea,
button {
  color: inherit;
  background: transparent;
}
a,
button,
input[type="submit"] {
  cursor: pointer;
}

html {
  font-size: 5vw;
}
@media only screen and (min-width: 800px) {
  html {
    font-size: 2vw;
  }
}

// typography
body {
  font-family: Helvetica Neue, Arial, sans-serif;
  line-height: 1.15;
  font-weight: normal;
  background-color: #111;
  color: #eee;
  letter-spacing: 0.02em;
}

h1 {
  letter-spacing: 0.05em;
}
p {
  hyphens: auto;
  -webkit-hyphens: auto;
  + p {
    margin-top: 1em;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

// layout
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  flex: 0 0 50vh;
  position: sticky;
  top: 0;
  z-index: 20;
  h1 {
    padding: 1rem;
    background-color: #111;
    transition: padding 300ms ease;
  }
}
body.has-scrolled {
  header {
    h1 {
      padding: 0.5rem 1rem;
    }
  }
}
main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  section {
    padding: 1rem;

    &.about {
      flex: 1 0 auto;
      @media only screen and (min-width: 800px) {
        padding-right: 33%;
      }
      @media only screen and (min-width: 1400px) {
        padding-right: 50%;
      }
    }

    &.contact {
      flex: 0 0 auto;
      position: sticky;
      bottom: 0;
      z-index: 10;
      background-color: #111;
      padding: 0;
      a {
        display: block;
        padding: 0.5rem 1rem;
        transition: background-color 500ms ease;
        &:hover {
          background-color: #f00;
        }
      }
    }
  }
}
